<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="static/publish/style.css"/>
</head>
<body class="b-page">
<header class="b-header b-wrap">
    <div class="b-header__container-1">
        {{>b-logo}}
    </div>
    <div class="b-header__container-2">
        Привет Собиратор
    </div>
    <div class="b-header__container-3">
        <b>djqnb</b> <b>|</b> <b><a href="">dsqnb</a></b>
    </div>
</header>

<div class="b-wrap b-content">
    <div class="b-content__container-1">
        {{>b-navigation navigation}}
    </div>
    {{>body}}
</div>

<footer class="b-footer b-wrap">
    dsadsad
</footer>





</body>
</html>