<div class="b-product">
    <figure class="b-product__pic-box">
        <a href="">
            <img class="b-product__img" src="{{pic}}">
        </a>
    </figure>
    <div class="b-product__props">
        <div class="b-product-name-row">
            <a href="">{{name}}</a>
        </div>
        <div class="b-product__short-desc">
            {{shortDescr}}
        </div>
        <div class="b-product__price-row">
            <span class="b-product__price">{{price}}</span>
            <span class="b-product__cy">Руб</span>
        </div>
        <div class="b-product__row">
            asdasdasdasd
        </div>
    </div>
</div>