<ol class="b-breadcrumb">
    <li class="b-breadcrumb__item">
        <a href="#">Home</a>
    </li>
    <li class="b-breadcrumb__item">
        <a href="#">Library</a>
    </li>
    <li class="b-breadcrumb__item">Data</li>
</ol>