<div class="b-text">
    <h1>Средства для похудения, диетпитание</h1>

    <p>В 2002-м в областном конкурсе «Лучшая аптека, обслуживающая население» мы заняли
        первое место в номинации «Аптека высоких социальных гарантий».
        В 2004 году одна из наших аптек, по адресу: Грибоедова, 20, была награждена почетной
        грамотой администрации города за лучшее <a href="">оформление торгового зала</a>
        среди всех
        торгующих организаций Екатеринбурга.</p>

    <h2>Расходные материалы </h2>

    <img style="float: left; margin-right: 20px; width: 200px;" src="static/tmp/1.jpg" alt="img"/>

    <p>
        В 2005 году мы получили первое место за качество продаж фармпрепаратов, в конкурсе,
        проводимом городским комитетом по защите прав потребителя.
        Аптечная сеть «Fastfarma» активно участвует в благотворительных программах,
        оказывает
        материальную помощь больницам, обществу инвалидов. <br>
        Мы не останавливаемся на достигнутом, впереди новые достижения и новые награды.
        Можно смело утверждать, что она является лидирующим новейшим устройством для
        постоянной
        терапии спины. <br>
        Массажная система на шоферское кресло ПАСТЕР обладает удивительными теплостойкими
        характеристиками, гораздо превышающими аналогичные особенности сидения. <br>
        Для моментального корректирования крупных отрицательных сторон автокресла в составе
        массажной системы для машины предусмотрена специальная мягкая подушечка, которая
        крепится на автокресле на уровне поясницы. Она максимально подходит для удержания
        правильной осанки водителя при поездке в транспортном средстве, тем самым ощутимо
        уменьшая нагрузки на спину
    </p>

    <p>
        В 2005 году мы получили первое место за качество продаж фармпрепаратов, в конкурсе,
        проводимом городским комитетом по защите прав потребителя.
    </p>

    <ul>
        <li>«Аптека 1999» — 2 место;</li>
        <li>«Аптека 2000» — 2 место;</li>
        <li>«Аптека 2001» — 3 место;</li>
        <li> «Аптека 2002» — 1 место.</li>

    </ul>

    <p>
        В 2005 году мы получили первое место за качество продаж фармпрепаратов, в конкурсе,
        проводимом городским комитетом по защите прав потребителя.
    </p>

    <ol>
        <li>«Аптека 1999» — 2 место;</li>
        <li>«Аптека 2000» — 2 место;</li>
        <li>«Аптека 2001» — 3 место;</li>
        <li> «Аптека 2002» — 1 место.</li>

    </ol>

    <p>
        Равные сегменты покатой формы с размером волны 10 см наполнены особыми
        полистироловыми гранулами различного радиуса, вследствие чего эти части имеют
        значительную упругость при достаточно низкой плотности. Эти элементы непрерывно
        осуществляют на него воздействие, вследствие чего происходит вытягивание
        позвоночника.
    </p>

    <figure>
        <img src="static/tmp/1.jpg" alt=""/>
        <figcaption>Фото дня! Новые поступления лекарств в наши магазины</figcaption>
    </figure>

    <p>
        Равные сегменты покатой формы с размером волны 10 см наполнены особыми
        полистироловыми гранулами различного радиуса, вследствие чего эти части имеют
        значительную упругость при достаточно низкой плотности. Эти элементы непрерывно
        осуществляют на него воздействие, вследствие чего происходит вытягивание
        позвоночника.
    </p>

    <blockquote>
        Мы стремимся, используя новейшие технологии, сделать работу с клиентами максимально удобной, быстрой и приносящей удовольствие.
    </blockquote>

    <table>
        <tr>
            <th>Наименовнаие</th>
            <th>Стоимость</th>
            <th>Количество</th>
            <th>Наличие</th>
        </tr>
        <tr>
            <td><b>Десерт Фрутоняня
                яблоко-тыква-манго 125 мл</b></td>
            <td>45 руб.</td>
            <td>120 шт.</td>
            <td>Да</td>
        </tr>
        <tr>
            <td><b>Десерт Фрутоняня
                яблоко-тыква-манго 125 мл</b></td>
            <td>45 руб.</td>
            <td>120 шт.</td>
            <td>Да</td>
        </tr>
        <tr>
            <td><b>Десерт Фрутоняня
                яблоко-тыква-манго 125 мл</b></td>
            <td>45 руб.</td>
            <td>120 шт.</td>
            <td>Да</td>
        </tr>
    </table>


</div>