<div class="b-control b-control_type2">
    <div class="b-contol__col-1">
        <label class="b-contol__label">Контактный телефон: </label>
    </div>
    <div class="b-contol__col-2">
        <input placeholder="8 ___ ___-__-__" id="phone" type="tel"  class="b-contol__input"  title="">
        <span class="b-contol__error" style="display: none;"></span>
    </div>
</div>